<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<table id="friends">
  <thread>
    <tr>
      <th scope='col'>
        <strong>First name:</strong>
      </th>
      <th scope='col'>
        <strong>Last name:</strong>
      </th>
      <th scope='col'>
        <strong>Email:</strong>
      </th>
      <th scope='col'>
        <strong>Phone:</strong>
      </th>
    </tr>
  </thread>
  <tbody>
  <% @friends.each do |friend| %>
    <tr>
      <%= render friend %>
      <td>
      <%= link_to "View", friend %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>
